.nav-item .dropdown-menu.dropdown-default {
    right: -35px !important;
    left: auto !important;
}

.main-header.navbar-light, .content-wrapper {
    margin-left: 100px !important;
    margin-right: 100px !important;
}
.main-header.navbar-light {
    background-color: #50bbc3;
}
#root .nav-link {
    color: white;
    font-weight: bold;
}