.nav-item .dropdown-menu.dropdown-default {
    right: -35px !important;
    left: auto !important;
}
.main-header.navbar-light {
    background-color: #50bbc3;
}
.user {
    color: white;
}
.user a{
    color: white;
}
#dropdown-account .dropdown-item a {
    color: black
}